# Datasets
data/

# Checkpoints
checkpoints/
*.pth
*.pt
*.ckpt
*.7z

# Visualization outputs
data_visualisation/

# Python cache
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/

archive.7z
checkpoints.7z