# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dll

# Virtual environments
.env/
.venv/
env/
venv/
*.env

# Jupyter / IPython
.ipynb_checkpoints/
*.ipynb_checkpoints

# === Data ===
data/
*.zip
*.tar.gz

datasets/
*.csv
*.tsv
*.zip
*.gz

# === PyTorch / Models ===
checkpoints/
*.pt
*.pth
runs/
logs/
outputs/

# === CUDA / Compiled ===
*.nv
*.cupti*

# === IDE / Editors ===
.vscode/
.idea/
*.swp
*.swo

# === OS files ===
.DS_Store
Thumbs.db

# === Cache ===
.cache/
logs/
temp/
tmp/

cifar-10-batches-py/
cifar-100-python/
data_visualisation/
checkpoints.7z
